In [16]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [28]:
df=pd.read_csv("data.csv")
df.head()

   age  bought_inc
0   22           0
1   25           0
2   47           1
3   52           0
4   46           1

In [ ]:
plt.scatter(df.age,df.bought_inc,,marker="+",color='red')